{% extends "layout/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Создать заявку</h2>

    {% if user.is_authenticated %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }} 
            </div>
            <button type="submit" class="btn create-btn ">Создать заявку</button>
        </form>
    {% else %}
        <p>Пожалуйста, <a href="#">войдите</a>, чтобы создать заявку.</p>
    {% endif %}
</div>
{% endblock %}