{% extends "layout/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Список заявок</h2>
    {% if is_index_page %}
    <div class="alert alert-info">
        <strong>Количество заявок в статусе "Принято в работу":</strong> {{ in_progress_count }}
    </div>
    {% endif %}
    {% if not is_index_page %}
    <div class="mb-3">
        <form method="get" action="{% url 'planit:watch_application' %}">
            <label for="status">Фильтр по статусу:</label>
            <select name="status" id="status" onchange="this.form.submit()">
                <option value="">Все</option>
                {% for status_value, status_label in statuses %}
                    <option value="{{ status_value }}" {% if request.GET.status == status_value %}selected{% endif %}>
                        {{ status_label }}
                    </option>
                {% endfor %}
            </select>
            <label for="search">Поиск:</label>
            <input type="text" name="search" id="search" value="{{ request.GET.search }}" placeholder="Введите текст для поиска">
            
            <button type="submit">Поиск</button>
        </form>
    </div>
    {% endif %}

    {% if applications %}
        <div class="row">
            {% for application in applications %}
                <div class="col-6 mb-4"> 
                    <div class="card position-relative"> 
                        <div class="card-body">
                            <h5 class="card-title">{{ application.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ application.created_at|date:"d.m.Y H:i" }}</h6>
                            <p class="card-text">{{ application.description }}</p>
                            <p class="card-text"><strong>Категория:</strong> {{ application.category.name }}</p>
                            <p class="card-text"><strong>Статус:</strong> {{ application.get_status_display }}</p>
                            {% if application.image %}
                                <img src="{{ application.image.url }}" alt="Дизайн" style="width: 100%; height: 200px; border-radius: 6px; object-fit: cover;">
                            {% else %}
                                <div>Нет изображения</div>
                            {% endif %}
                            
                            {% if user.is_authenticated %}
                                <!-- Dropdown for actions -->
                                <div class="dropdown position-absolute" style="top: 10px; right: 10px;">
                                    <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: inline-block; transform: rotate(90deg); border: none; outline: none;">
                                        ...
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a  class="dropdown-item" href="{% url 'planit:update_application' application.id %}">Сменить статус</a>

                                        <!-- Delete Option -->
                                        <a class="dropdown-item" href="{% url 'planit:delete_application' application.id %}">Удалить</a>
                                        <a class="dropdown-item" href="{% url 'planit:application_detail' application.id %}">Посмотреть историю</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет доступных заявок.</p>
    {% endif %}
</div>

{% endblock %}