{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% bootstrap_css %} 
    {% bootstrap_javascript jquery='slim' %}
    <title>
        {% block title %} Главная {% endblock %} 
    </title>
  
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <nav class="navbar navbar-expand-md p-3">
        <h5 class="mr-md-auto"></h5>
        {% if user.is_authenticated %}
            <a class="pr-4" href="{% url 'planit:index' %}">Главная</a>
            <!-- Мои заявки -->
            <div class="nav-item dropdown">
                <a class="dropdown-toggle pr-4" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Мои заявки</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'planit:create_application' %}">Создать заявку</a>
                    <a class="dropdown-item" href="{% url 'planit:watch_application' %}">Смотреть заявки</a>
                    <a class="dropdown-item" href="#">Удалить заявку</a>
                </div>
            </div>
           
            <!-- Раздел для администратора -->
            {% if user.is_staff %}
                <div class="nav-item dropdown">
                    <a class="dropdown-toggle pr-4" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Администрирование</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Сменить статус заявки</a>
                        <a class="dropdown-item" href="#">Управление категориями</a>
                    </div>
                </div>
            {% endif %}

            <!-- Профиль -->
            <div class="nav-item dropdown">
                <a class="dropdown-toggle pr-4" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Профиль</a>
                <div class="dropdown-menu">
                    <form method="post" action="#">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">Выйти</button>
                    </form>
                </div>
            </div>
        
        {% else %}
            <a class="p-2 " href="#">Регистрация</a>
            <a class="p-2 " href="{% url 'planit:login' %}">Вход</a>
        {% endif %}
    </nav>

    <div class="container mt-3">
        {% bootstrap_messages %}
        {% block content %}
        <!-- Здесь будет основной контент -->
        {% endblock %}
    </div>

    <!-- 
        <footer class="footer mt-3 border-top">
            <small>&copy; Знакомство с фреймворком Django. 2024</small> 
        </footer> 
    -->
</body>
</html> 